@{
	ViewData["Title"] = "Home Page";

}

<div class="text-center">
	<br />
	<h1 class="display-4">Welcome</h1>
	<br />
	<h3>Create by @ViewData["Aluno"]</h3>
	<br />
	<h3>@ViewData["Message"]</h3>
	<br />

	


	<a href="https://github.com/JonathanQuaint/sales-page-asp-net-core" target="_blank">
		<strong>The project is available on my GitHub, containing all commits and parts related to the site</strong>
	</a>



</div>
